<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}

    <h3>Log In to your account!</h3>
<form method="post" action="/signin" class="mb-2">
        {% csrf_token %}

<input type="text" name="username" id="username"><br>
<input type="password" name="password" id="password">
<button type="submit" class="btn btn-primary">Log In</button>
<p>Dont have an account <a href="{% url 'signup' %}">Signup</a></p>
<p><a href="{% url 'password-reset' %}">Reset password</a></p>
</form>
</body>
</html>